<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{{ subject_name }} Papers</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="dashboard">

    <h1 class="section-title">
        {{ subject_name }} Papers
    </h1>

    {% if papers %}

        <div class="subjects-grid">

        {% for paper in papers %}

            <div class="subject-card">

                <h3>
                    {{ paper[1] }}
                </h3>

                <p>
                    Year: {{ paper[2] }}
                </p>

                <br>

                <a href="/take_exam/{{ paper[0] }}"
                   class="start-btn">

                    Start Exam

                </a>

            </div>

        {% endfor %}

        </div>

    {% else %}

        <div class="leaderboard">

            <div class="leader-item">
                No Papers Available
            </div>

        </div>

    {% endif %}

</div>

</body>

</html>
